/*Estilos de todo el body*/
body {
    background-image: linear-gradient(to right bottom, #f1f3f4, #bbcfdd, #8babc9, #6087b5, #3a639f, #3b4d88, #39376f, #352156, #34173b, #2a1024, #1c0a13, #000000);
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Estilos del encabezado*/
header {
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    letter-spacing: 3px;
    text-decoration: underline;
}
/*Estilos Nav*/
nav {
    background-color: #8babc9;
    color:#04082a;
    line-height: 30px;
    font-size: 25px;
}

a {
    color:#04082a;
}

h2 {
    background-color: #4E8397;
    font-size: 40px;
    text-align: center;
    color: #f1f3f4 border ;
}
/*Estilos de foto de perfil*/
#foto_perfil {
    border-radius: 55%;
    border: 3px solid white;
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, .8));
}

#miNombre {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}